<script>
import ThePokedexImage from './ThePokedexImage.vue';
import ThePokedexDetail from './ThePokedexDetail.vue';
export default {
    components: { ThePokedexImage, ThePokedexDetail },
    props: ["cible"]
}
</script>

<template lang="">
    <div class="mt-3">
        <h2>Pokedex</h2>
        <p>Affiche les informations du pokemon</p>
    <div class="pokedex">
            <ThePokedexImage class="" :sprite="this.cible.sprites.other.home.front_default"></ThePokedexImage>
            <ThePokedexDetail class="" :cible="cible"></ThePokedexDetail>
    </div>
    </div>
</template>

<style scoped>
.pokedex {
    height: 800px;
    background-image: url("src/assets/Pokedex1.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 170px;
    padding-left: 50px;
    width: fit-content;
    font-family: 'Pocketext' !important;
}

</style>