<template lang="">
    <div class="col">
        <div class="card" style="width: 18rem;">
  <img :src="this.lienImage" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{titre}}</h5>
    <p class="card-text"></p>
    <button class="btn btn-primary">Scanner</button>
    <button @click="this.ouvrir()" class="ms-1 btn btn-primary">{{ouvrirBtn}}</button>
  </div>
</div>
    </div>
</template>
<script>
export default {
    props: ["pokemon"],
    data() {
        return {
            lienImage: "src/assets/pokeball0.jpg",
            estVisible:false
        }
    },
    computed:{
        titre(){
            return this.estVisible ? "?".repeat(this.pokemon.name.length).toUpperCase() : "Pokeball";
        },
        
        ouvrirBtn(){
            return this.estVisible ? "Fermer": "Ouvrir";
        }
    },
    methods:{
        ouvrir(){
            this.estVisible=!this.estVisible;
            let image;
            if(this.estVisible==true){
                this.lienImage="src/assets/pokeball open.gif";
                image=this.pokemon.sprites.other.home.front_default;
            }
            else{
                this.lienImage="src/assets/pokeball close.gif"
                image= "src/assets/pokeball0.jpg";
            }
           setTimeout(
                ()=>{this.lienImage=image;;}
                ,500)
            
        }
    }
}
</script>
<style lang="">
  
</style>