<template lang="">
    <div class="d-flex-column">
        <h4>{{this.cible.name.toUpperCase()}}</h4>
        <div class="row">

       <div class="col">
        <h5>Types</h5>
        <ul>
            <li v-for="leType in this.cible.types" :key="leType.type.name">{{leType.type.name}}</li>
        </ul>
        <h5>Stats</h5>
        <ul>
            <li v-for="laStat in this.cible.stats" :key="laStat.stat.name">
            {{laStat.stat.name}} : {{laStat.base_stat}}
            </li>
        </ul>
    </div>
    <div class="col">
        <h5>Abilities</h5>
        <ul>
            <li v-for="uneAbility in this.cible.abilities" :key="uneAbility.ability.name">
            {{uneAbility.ability.name}}
            </li>
        </ul>
    </div>
    </div>
    </div>
</template>

<script>
export default {
    props:["cible"]
}
</script>
